<div id="b">
	<!--top代码开始-->
    
    <div class="top">
        <ul class="menu">
            <li class="no_sub"><a target="_blank" href="http://evandjango.sinaapp.com" class="tablink nosub">首 页</a></li>
            <li>
            	<a target="_blank" href="http://evandjango.sinaapp.com/joke" class="tablink">网页模板</a>
				<!--
                <ul>
                    <li><a target="_blank" href="http://www.lanrentuku.com/vector/flower/">矢量花纹</a></li>
                    <li><a target="_blank" href="http://www.lanrentuku.com/vector/classics/">经典实用</a></li>
                    <li><a target="_blank" href="http://www.lanrentuku.com/vector/festival/">矢量节日</a></li>
                </ul>
				-->
            </li>
            <li>
            	<a target="_blank" href="http://www.image.baidu.com" class="tablink">百度图片</a>
                <ul>
                    <li><a target="_blank" href="http://image.baidu.com">百度图片</a></li>
                    <li><a target="_blank" href="http://image.baidu.com">百度图片</a></li>
                </ul>
            </li>
            
            <li class="no_sub"><a target="_blank" href="http://www.baidu.com" class="tablink nosub">百度首页</a></li>
        </ul>
    </div>
</div>

<div id="header">
	<a target="_blank" href="http://evandjango.sinaapp.com/" class="logo"><img src="/static/images/logo.png" alt="evan"/></a>
</div>

<!--top代码结束-->
