{% extends 'index.html'%}

{% block thumb %}
{% for key,value in photo_list.items %}
	<li class="item"><a href="/url/{{value}}"><img src="{{key}}" alt="" /></a></li>
{% endfor %}
{% endblock %}

{% block photos %}
{% for key,value in photo_list.items%}
	<li class="item--big">
        <a href="/url/{{value}}">
          <figure>
            <img src="{{key}}" alt="" />
            <figcaption class="img-caption">
              Caption
            </figcaption>
          </figure>
          </a>
      </li>
{% endfor %}
{% endblock %}
